{"swagger":"2.0","info":{"title":"ProCore - Connector","description":"Custom Connector to communicate with ProCore from Power Automate.|11/10/2020_1:33:17 PM","version":"1.0.226"},"host":"sandbox.procore.com","basePath":"/vapid","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/companies/{company_id}/project_bid_types/{id}":{"delete":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{}}}},"summary":"Delete Bid Type","operationId":"Company-DeleteBidType","consumes":["application/json"],"tags":["Bid Type"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromPath"},{"$ref":"#/parameters/BidTypeFromPath"}],"description":"Delete Bid Type"},"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}}}}},"summary":"Get Bid Type","operationId":"Bid-GetBidType","consumes":["application/json"],"tags":["Bid Type"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromPath"},{"$ref":"#/parameters/BidTypeFromPath"}],"description":"Get Bid Type Details"},"patch":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}}}}},"summary":"Update Bid Type","operationId":"Bid-UpdateBidType","consumes":["application/json"],"tags":["Bid Type"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromPath"},{"$ref":"#/parameters/BidTypeFromPath"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"project_bid_type":{"type":"object","properties":{"name":{"type":"string","description":"Name","title":"Name","x-ms-summary":"Name"}}}}}}],"description":"Update Bid Type"}},"/companies/{company_id}/bids":{"get":{"responses":{"200":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Bid ID","title":"Bid ID"},"bid_package_id":{"type":"integer","format":"int32","description":"Bid Package ID","title":"Bid Package ID"},"bid_package_title":{"type":"string","description":"Bid Package Title","title":"Bid Package Title"},"awarded":{"type":"boolean","description":"Is Awarded","title":"Bid Package Title"},"company_id":{"type":"integer","format":"int32","description":"Company ID","title":"Company ID"},"invitation_last_sent_at":{"type":"string","description":"Invitation Last Sent At","title":"Invitation Last Sent At"},"is_bidder_committed":{"type":"boolean","description":"Is Bidder Committed","title":"Is Bidder Committed"},"lump_sum_amount":{"type":"number","format":"float","description":"Lump Sum Amount","title":"Lump Sum Amount"},"lump_sum_enabled":{"type":"boolean","description":"Is lump sum enabled","title":"Is lump sum enabled"},"submitted":{"type":"boolean","description":"Is Submitted","title":"Is Submitted"},"created_at":{"type":"string","description":"Bid Created Date and Time","title":"Bid Created Date and Time"},"updated_at":{"type":"string","description":"Updated At","title":"Updated At"},"due_date":{"type":"string","description":"Bid Due Date","title":"Bid Due Date"},"bidder_comments":{"type":"string","description":"Bidder Comments","title":"Bidder Comments"},"bid_requester":{"type":"object","properties":{"company":{"type":"string","description":"Bid Requestor Company","title":"Bid Requestor Company"},"contact":{"type":"string","description":"Bid Requestor Contact","title":"Bid Requestor Contact"},"company_address":{"type":"string","description":"Bid Requestor Company Address","title":"Bid Requestor Company Address"},"company_phone":{"type":"string","description":"Bid Requestor Company Phone","title":"Bid Requestor Company Phone"},"company_website":{"type":"string","description":"Bid Requestor Company Website","title":"Bid Requestor Company Website"},"email_address":{"type":"string","description":"Bid Requestor Email Address","title":"Bid Requestor Email Address"},"first_name":{"type":"string","description":"Bid Requestor First Name","title":"Bid Requestor First Name"},"last_name":{"type":"string","description":"Bid Requestor Last Name","title":"Bid Requestor Last Name"},"mobile_phone":{"type":"string","description":"Bid Requestor Mobile Phone","title":"Bid Requestor Mobile Phone"},"vendor_address":{"type":"string","description":"Bid Requestor Vendor Address","title":"Bid Requestor Vendor Address"},"business_phone":{"type":"string","description":"Bid Requestor Business Phone","title":"Bid Requestor Business Phone"},"fax_number":{"type":"string","description":"Bid Requestor Fax Number","title":"Bid Requestor Fax Number"}},"description":"bid_requester"},"vendor":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Vendor ID","title":"Vendor ID"},"name":{"type":"string","description":"Vendor Name","title":"Vendor Name"},"avatar_url":{"type":"string","description":"Vendor Avatar URL","title":"Vendor Avatar URL"},"trades":{"type":"string","description":"Vendor Trades","title":"Vendor Trades"}},"description":"vendor"},"project":{"type":"object","properties":{"name":{"type":"string","description":"Project Name","title":"Name"},"address":{"type":"string","description":"Project Address","title":"Address"}},"description":"project"}}}}}},"summary":"Bids - Get Bids","operationId":"Bids-GetBids","consumes":["application/json"],"tags":["bids"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromPath"},{"$ref":"#/parameters/PageNo"},{"$ref":"#/parameters/PerPage"}],"description":"Return a list of your assigned Bids within a Company."}},"/companies/{company_id}/bids/{id}":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Bid ID","title":"Bid ID"},"bid_package_id":{"type":"integer","format":"int32","description":"Bid Package ID","title":"Bid Package ID"},"bid_package_title":{"type":"string","description":"Bid Package Title","title":"Bid Package Title"},"awarded":{"type":"boolean","description":"Awarded","title":"Awarded"},"company_id":{"x-ms-summary":"Company ID","description":"Company ID","format":"int32","x-ms-dynamic-values":{"operationId":"Companies-GetCompanies","value-path":"id","value-title":"name"}},"invitation_last_sent_at":{"type":"string","description":"Invitation Last Sent At","title":"Invitation Last Sent At"},"is_bidder_committed":{"type":"boolean","description":"Is Bidder Committed?","title":"Is Bidder Committed?"},"lump_sum_amount":{"type":"number","format":"float","description":"Lump Sum Amount","title":"Lump Sum Amount"},"lump_sum_enabled":{"type":"boolean","description":"Lump Sum Enabled","title":"Lump Sum Enabled"},"submitted":{"type":"boolean","description":"Is Submitted?","title":"Is Submitted?"},"created_at":{"type":"string","description":"Bid Created Date and Time","title":"Bid Created Date and Time"},"updated_at":{"type":"string","description":"Updated At","title":"Updated At"},"due_date":{"type":"string","description":"Bid Due Date","title":"Bid Due Date"},"bidder_comments":{"type":"string","description":"Bidder Comments","title":"Bidder Comments"},"bid_requester":{"type":"object","properties":{"company":{"type":"string","description":"Bid Requestor Company","title":"Bid Requestor Company"},"contact":{"type":"string","description":"Bid Requestor Contact","title":"Bid Requestor Contact"},"company_address":{"type":"string","description":"Bid Requestor Company Address","title":"Bid Requestor Company Address"},"company_phone":{"type":"string","description":"Bid Requestor Company Phone","title":"Bid Requestor Company Phone"},"company_website":{"type":"string","description":"Bid Requestor Company Website","title":"Bid Requestor Company Website"},"email_address":{"type":"string","description":"Bid Requestor Email Address","title":"Bid Requestor Email Address"},"first_name":{"type":"string","description":"Bid Requestor First Name","title":"Bid Requestor First Name"},"last_name":{"type":"string","description":"Bid Requestor Last Name","title":"Bid Requestor Last Name"},"mobile_phone":{"type":"string","description":"Bid Requestor Mobile Phone","title":"Bid Requestor Mobile Phone"},"vendor_address":{"type":"string","description":"Bid Requestor Vendor Address","title":"Bid Requestor Vendor Address"},"business_phone":{"type":"string","description":"Bid Requestor Business Phone","title":"Bid Requestor Business Phone"},"fax_number":{"type":"string","description":"Bid Requestor Fax Number","title":"Bid Requestor Fax Number"}},"description":"bid_requester"},"deleted_at":{"type":"string","description":"Bid Deleted At","title":"Bid Deleted At"},"bidder_notes":{"type":"string","description":"Bidder Notes","title":"Bidder Notes"},"attachments_count":{"type":"integer","format":"int32","description":"Attachments Count","title":"Attachments Count"},"recipient_ids":{"type":"array","items":{"type":"integer","format":"int32","description":"Recipient Ids","title":"Recipient Ids"},"description":"recipient_ids"},"recipient_list":{"type":"array","items":{"type":"object","properties":{"first":{"type":"string","description":"Recipient List First Name","title":"Recipient List First Name"},"last":{"type":"string","description":"Recipient List Last Name","title":"Recipient List Last Name"},"email":{"type":"string","description":"Recipient List Email","title":"Recipient List Email"},"numbers":{"type":"string","description":"Recipient List Numbers","title":"Recipient List Numbers"}}},"description":"recipient_list"},"recipient_list_with_email_and_number":{"type":"array","items":{"type":"string"},"description":"Recipient List with Email and Number","title":"Recipient List with Email and Number"},"mailto":{"type":"string","description":"Mailto","title":"Mailto"},"bidder_inclusion":{"type":"string","description":"Bidder Inclusion","title":"Bidder Inclusion"},"bidder_exclusion":{"type":"string","description":"Bidder Exclusion","title":"Bidder Exclusion"},"links":{"type":"object","properties":{"uploads":{"type":"string","description":"Link Uploads","title":"Link Uploads"},"cost_codes":{"type":"string","description":"Links Cost Codes","title":"Links Cost Codes"}},"description":"links"},"vendor":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Vendor ID","title":"Vendor ID"},"name":{"type":"string","description":"Vendor Name","title":"Vendor Name"},"avatar_url":{"type":"string","description":"Vendor Avatar URL","title":"Vendor Avatar URL"},"trades":{"type":"string","description":"Vendor Trades","title":"Vendor Trades"}},"description":"vendor"},"project":{"type":"object","properties":{"name":{"type":"string","description":"Project Name","title":"Name"},"address":{"type":"string","description":"Project Address","title":"Address"}},"description":"project"},"bid_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Bid Items ID","title":"Bid Items ID"},"cost_code_id":{"type":"integer","format":"int32","description":"Bid Items Cost Code ID","title":"Bid Items Cost Code ID"},"cost_code_name":{"type":"string","description":"Bid Items Cost Code Name","title":"Bid Items Cost Code Name"},"amount":{"type":"integer","format":"int32","description":"Bid Items Amount","title":"Bid Items Amount"},"unit_cost":{"type":"string","description":"Bid Items Unit Cost","title":"Bid Items Unit Cost"},"quantity":{"type":"string","description":"Bid Items Quantity","title":"Bid Items Quantity"},"uom":{"type":"string","description":"Bid Items UOM","title":"Bid Items UOM"}}},"description":"bid_items"},"cost_codes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Cost Codes ID","title":"Cost Codes ID"},"name":{"type":"string","description":"Cost Codes Name","title":"Cost Codes Name"}}},"description":"cost_codes"},"attachments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Attachments ID","title":"Attachments ID"},"item_type":{"type":"string","description":"Attachment Item Type","title":"Attachment Item Type"},"prostore_file_id":{"type":"integer","format":"int32","description":"Attachment Prostore file ID","title":"Attachment Prostore file ID"},"url":{"type":"string","description":"Attachment URL","title":"Attachment URL"},"name":{"type":"string","description":"Attachment Name","title":"Attachment Name"}}},"description":"attachments"}}}}},"summary":"Bids - Show A Bid Within A Company","operationId":"Bids-ShowABidWithinACompany","description":"Return detailed information about a specified Bid.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromPath"},{"name":"id","in":"path","required":true,"type":"integer","description":"Bid ID","x-ms-summary":"Bid ID","x-ms-url-encoding":"single","x-ms-visibility":"important","format":"int32","x-ms-dynamic-values":{"operationId":"Bids-GetBids","value-path":"id","value-title":"vendor/name","parameters":{"company_id":{"parameter":"company_id"}}}}]},"patch":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"integer"},"bid_package_id":{"type":"integer"},"bid_package_title":{"type":"string"},"awarded":{"type":"boolean"},"company_id":{"type":"integer"},"invitation_last_sent_at":{"type":"string"},"is_bidder_committed":{"type":"boolean"},"lump_sum_amount":{"type":"number"},"lump_sum_enabled":{"type":"boolean"},"submitted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"due_date":{"type":"string"},"bidder_comments":{"type":"string"},"bid_requester":{"type":"object","properties":{"company":{"type":"string"},"contact":{"type":"string"},"company_address":{"type":"string"},"company_phone":{"type":"string"},"company_website":{"type":"string"},"email_address":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"mobile_phone":{"type":"string"},"vendor_address":{"type":"string"},"business_phone":{"type":"string"},"fax_number":{"type":"string"}}},"deleted_at":{"type":"string"},"bidder_notes":{"type":"string"},"attachments_count":{"type":"integer"},"recipient_ids":{"type":"array","items":{"type":"integer"}},"recipient_list":{"type":"array","items":{"type":"object","properties":{"first":{"type":"string"},"last":{"type":"string"},"email":{"type":"string"},"numbers":{"type":"string"}}}},"recipient_list_with_email_and_number":{"type":"array","items":{"type":"string"},"description":"Recipient List with Email and Number","title":"Recipient List with Email and Number"},"mailto":{"type":"string"},"bidder_inclusion":{"type":"string"},"bidder_exclusion":{"type":"string"},"links":{"type":"object","properties":{"uploads":{"type":"string"},"cost_codes":{"type":"string"}}},"vendor":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"avatar_url":{"type":"string"},"trades":{"type":"string"}}},"project":{"type":"object","properties":{"name":{"type":"string"},"address":{"type":"string"}}},"bid_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"cost_code_id":{"type":"integer"},"cost_code_name":{"type":"string"},"amount":{"type":"number","format":"float"},"unit_cost":{"type":"string"},"quantity":{"type":"string"},"uom":{"type":"string"}}}},"cost_codes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}},"attachments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"item_type":{"type":"string"},"prostore_file_id":{"type":"integer"},"url":{"type":"string"},"name":{"type":"string"}}}}}}}},"summary":"Bids - Update a Bid at Company Level","operationId":"Bids-UpdateBidAtCompanyLevel","description":"Update a Bid at a company level.","tags":["bids"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromPath"},{"name":"id","in":"path","required":true,"type":"integer","description":"Bid ID","x-ms-summary":"Bid ID","x-ms-url-encoding":"single","x-ms-visibility":"important","format":"int32","x-ms-dynamic-values":{"operationId":"Bids-GetBids","value-path":"id","value-title":"vendor/name","parameters":{"company_id":{"parameter":"company_id"}}}},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"bid":{"type":"object","properties":{"lump_sum_amount":{"type":"integer","format":"int32","description":"Lump sum (overall) amount","title":"Lump sum (overall) amount"},"bidder_comments":{"type":"string","description":"Comments","title":"Comments"},"bidder_inclusion":{"type":"string","description":"Inclusions","title":"Inclusions"},"bidder_exclusion":{"type":"string","description":"Exclusions","title":"Exclusions"},"is_bidder_committed":{"type":"boolean","description":"Bidder committed","title":"Bidder committed"},"submitted":{"type":"boolean","description":"Vendor submitted Bid","title":"Vendor submitted Bid"},"recipient_ids":{"type":"array","items":{"type":"integer","format":"int32","title":"Recipients","x-ms-visibility":"important","x-ms-summary":"User ID","description":"Recipient User ID","x-ms-dynamic-values":{"operationId":"Company-GetUsers","value-path":"employee_id","value-title":"name","parameters":{"company_id":{"parameter":"company_id"}}}},"description":"recipient_ids"}},"description":"Bid Information"}}}}]}},"/companies/{company_id}/project_bid_types":{"get":{"responses":{"200":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}}},"summary":"Get Bid Types","operationId":"Company-GetBidTypes","consumes":["application/json"],"tags":["Bid Type"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromPath"},{"name":"page","in":"query","required":false,"type":"integer","description":"Page No","x-ms-summary":"No. of Page","x-ms-visibility":"advanced","format":"int32"},{"name":"per_page","in":"query","required":false,"type":"integer","description":"Items per Page","x-ms-summary":"Items per Page","x-ms-visibility":"advanced","format":"int32"}],"description":"Get Bid Types"},"post":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}}}}},"summary":"Create Bid Type","operationId":"Bid-CreateBidType","consumes":["application/json"],"tags":["Bid Type"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromPath"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"project_bid_type":{"type":"object","properties":{"name":{"type":"string"}}}}}}],"description":"Get Bid Types"}},"/coordination_issues/{coordination_issue_id}/procore_item_associations/{id}":{"delete":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{}}}},"tags":["co-ordination"],"summary":"Coordination Issues - Delete association","description":"Delete the association between Coordination Issue and Procore item","operationId":"CoordinationIssues-DeleteAssocation","parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"},{"name":"coordination_issue_id","in":"path","required":true,"type":"integer","description":"Coordination Issue ID","x-ms-summary":"Coordination Issue ID","x-ms-url-encoding":"single","format":"int32","x-ms-visibility":"important","x-ms-dynamic-values":{"operationId":"CoordinationIssues-GetCoordinationIssues","value-path":"id","value-title":"title","parameters":{"company_id":{"parameter":"company_id"},"project_id":{"parameter":"project_id"}}}},{"$ref":"#/parameters/RFIFromPath"}]}},"/coordination_issues/{id}":{"delete":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{}}}},"tags":["co-ordination"],"summary":"Coordination Issues - Delete Coordination Issue","description":"Delete a Coordination Issue from the system","operationId":"CoordinationIssues-DeleteCoordinationIssue","parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"},{"name":"id","in":"path","required":true,"type":"integer","description":"Coordination Issue ID","x-ms-summary":"Coordination Issue ID","x-ms-url-encoding":"single","format":"int32","x-ms-visibility":"important","x-ms-dynamic-values":{"operationId":"CoordinationIssues-GetCoordinationIssues","value-path":"id","value-title":"title","parameters":{"company_id":{"parameter":"company_id"},"project_id":{"parameter":"project_id"}}}}]}},"/coordination_issues-change_history/{id}/":{"get":{"responses":{"200":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Change History ID","title":"Change History ID"},"column":{"type":"string","description":"Change History Column","title":"Change History Column"},"readable_column":{"type":"string","description":"Readable Column","title":"Readable Column"},"old_value":{"type":"string","description":"Change History Old Value","title":"Change History Old Value"},"new_value":{"type":"string","description":"Change History New Value","title":"Change History New Value"},"created_by":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Created By ID","title":"Created By ID"},"login":{"type":"string","description":"Created By Login","title":"Created By Login"},"name":{"type":"string","description":"Created By Name","title":"Created By Name"},"company_name":{"type":"string","description":"Created By Company Name","title":"Created By Company Name"}},"description":"created_by"},"created_at":{"type":"string","description":"Created At Date","title":"Created At Date"}}}}}},"tags":["co-ordination","coordination_issues/{id}/change_history"],"summary":"Coordination Issue Change History - Get Change History","operationId":"CoordinationIssue-GetChangeHistory","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"},{"name":"id","in":"path","required":true,"type":"integer","description":"Coordination Issue ID","x-ms-summary":"Coordination Issue ID","x-ms-url-encoding":"single","format":"int32","x-ms-dynamic-values":{"operationId":"CoordinationIssues-GetCoordinationIssues","value-path":"id","value-title":"title","parameters":{"company_id":{"parameter":"company_id"},"project_id":{"parameter":"project_id"}}}},{"name":"view","in":"query","required":false,"type":"string","description":"Specify View of Result","x-ms-summary":"Specify View of Result","x-ms-visibility":"advanced"}],"description":"This endpoint returns the change history for the specified CoordinationIssue. The change history is sorted by most recent first."}},"/coordination_issues/status_count":{"get":{"responses":{"200":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"group_by":{"type":"string","description":"Status Count Group By","title":"Status Count Group By"},"group_id":{"type":"integer","format":"int32","description":"Status Count Group ID","title":"Status Count Group ID"},"group_label":{"type":"string","description":"Status Count Group Label","title":"Status Count Group Label"},"open_count":{"type":"integer","format":"int32","description":"Status Count Open Count","title":"Status Count Open Count"},"blocked_count":{"type":"integer","format":"int32","description":"Status Count Blocked Count","title":"Status Count Blocked Count"},"unblocked_count":{"type":"integer","format":"int32","description":"Status Count UnBlocked Count","title":"Status Count UnBlocked Count"},"ready_for_review_count":{"type":"integer","format":"int32","description":"Status Count Ready to Review Count","title":"Status Count Ready to Review Count"},"moved_to_observation_count":{"type":"integer","format":"int32","description":"Status Count Moved to Observation Count","title":"Status Count Moved to Observation Count"},"closed_count":{"type":"integer","format":"int32","description":"Status Count Closed Count","title":"Status Count Closed Count"}}}}}},"tags":["co-ordination"],"summary":"Coordination Issue Counts - Show Grouped Coordination Issue Counts","operationId":"CoordinationIssue-GetIssueCounts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"},{"name":"filters[group_by]","in":"query","required":false,"type":"string","description":"Group By","x-ms-summary":"Group By","x-ms-visibility":"advanced"}],"description":"Get the status counts for Coordination Issues in a project. The counts provide information about how the issues are distributed by location and assignee company."}},"/coordination_issues/export":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{}}}},"tags":["co-ordination","issue"],"summary":"Coordination Issue Export - Download Project Coordination Issues","operationId":"CoordinationIssue-Export","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"},{"name":"filters[assignee_company_id]","in":"query","required":false,"type":"integer","description":"Assignee Company ID","x-ms-summary":"Assignee Company ID","x-ms-visibility":"advanced"},{"name":"filters[assignee_id]","in":"query","required":false,"type":"integer","description":"Assignee ID","x-ms-summary":"Assignee ID","x-ms-visibility":"advanced"},{"name":"filters[ids]","in":"query","required":false,"type":"integer","description":"Coordination Issue ID","x-ms-summary":"Coordination Issue ID","x-ms-visibility":"advanced"},{"name":"filters[location_id]","in":"query","required":false,"type":"integer","description":"Location ID","x-ms-summary":"Location ID","x-ms-visibility":"advanced"},{"name":"filters[search]","in":"query","required":false,"type":"string","description":"Search Query","x-ms-summary":"Search Query","x-ms-visibility":"advanced"},{"name":"filters[coordination_issue_file_id]","in":"query","required":false,"type":"string","description":"Coordination Issue File ID","x-ms-summary":"Coordination Issue File ID","x-ms-visibility":"advanced"},{"name":"filters[status]","in":"query","required":false,"type":"string","description":"Status","x-ms-summary":"Status","x-ms-visibility":"advanced"},{"$ref":"#/parameters/FilterByUpdatedAt"},{"name":"sort","in":"query","required":false,"type":"string","description":"Sort","x-ms-summary":"Sort","x-ms-visibility":"advanced"},{"name":"export_format","in":"query","required":false,"type":"string","description":"Export Format","x-ms-summary":"Export Format","x-ms-visibility":"advanced"}],"description":"Downloads coordination issues to a file specified by the export format."}},"/coordination_issue_files/{id}":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Coordination Issue File ID","title":"Coordination Issue File ID"},"name":{"type":"string","description":"Coordination Issue File Name","title":"Coordination Issue File Name"},"uuid":{"type":"string","description":"Coordination Issue File UUID","title":"Coordination Issue File UUID"},"project_id":{"type":"integer","format":"int32","description":"Project ID","title":"ID"},"company_id":{"type":"integer","format":"int32","description":"Company ID","title":"Company ID"},"created_at":{"type":"string","description":"Coordination Issue File Created At Date","title":"Coordination Issue File Created At Date"},"updated_at":{"type":"string","description":"Coordination Issue File Updated At Date","title":"Coordination Issue File Updated At Date"}}}}},"tags":["co-ordination"],"summary":"Coordination Issue File - Show Coordination Issue File","operationId":"CoordinationIssueFile-GetCoordinationIssueFile","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32","x-ms-url-encoding":"single","description":"ProCore Coordination Issue File ID or UUID","x-ms-summary":"Coordination Issue, x-ms-url-encoding: single File ID / UUID:"},{"name":"name","in":"query","required":false,"type":"integer","description":"Coordination File Issue Name","x-ms-summary":"Coordination File Issue Name","x-ms-visibility":"advanced"},{"name":"view","in":"query","required":false,"type":"integer","description":"Response View","x-ms-summary":"Response View","x-ms-visibility":"advanced"}],"description":"Get a single Coordination Issue File item"}},"/coordination_issues-assignees":{"get":{"responses":{"200":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Potential Assignee ID","title":"Potential Assignee ID"},"login":{"type":"string","description":"Potential Assignee Login","title":"Potential Assignee Login"},"name":{"type":"string","description":"Potential Assignee Name","title":"Potential Assignee Name"},"company_name":{"type":"string","description":"Company Name","title":"Company Name"}}}}}},"tags":["co-ordination"],"summary":"Coordination Issue Potential Assignees - Get Potential Assignees","operationId":"CoordinationIssue-GetPotentialAssignees","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"}],"description":"Lists potential assignees for Coordination Issues. Users who are admin or standard users can be assigned to a Coordination Issue"}},"/coordination_issues/cord/recycleBin":{"get":{"responses":{"200":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Coordination Issue ID","title":"Coordination Issue ID"},"uuid":{"type":"string","description":"Coordination Issue UUID","title":"Coordination Issue UUID"},"title":{"type":"string","description":"Coordination Issue Title","title":"Coordination Issue Title"},"description":{"type":"string","description":"Description","title":"Description"},"status":{"type":"string","description":"Status of Coordination Issue","title":"Status of Coordination Issue"},"issue_number":{"type":"integer","format":"int32","description":"Issue Number","title":"Issue Number"},"creation_source":{"type":"string","description":"Creation Source","title":"Creation Source"},"due_date":{"type":"string","description":"Due Date","title":"Due Date"},"project_id":{"type":"integer","format":"int32","description":"Project ID","title":"ID"},"bim_model_id":{"type":"integer","format":"int32","description":"BIM Model ID","title":"BIM Model ID"},"comments_count":{"type":"integer","format":"int32","description":"Count of no. of Comments","title":"Comments Count"},"coordination_isue_file":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"ID of File","title":"Coordination Issue File ID"},"name":{"type":"string","description":"Coordination Issue File Name","title":"Coordination Issue File Name"},"uuid":{"type":"string","description":"UUID of Coordination Issue File","title":"Coordination Issue File UUID"}},"description":"coordination_isue_file"},"origin":{"type":"object","properties":{"title":{"type":"string","description":"Origin Title","title":"Origin Title"},"origin_id":{"type":"string","description":"Origin ID","title":"Origin ID"},"origin_type":{"type":"string","description":"Origin Type","title":"Origin Type"},"deep_link_url":{"type":"string","description":"Origin Deep Link URL","title":"Origin Deep Link URL"}},"description":"origin"},"location":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Location ID","title":"Location ID"},"name":{"type":"string","description":"Name of Location","title":"Name of Location"},"node_name":{"type":"string","description":"Location Node Name","title":"Location Node Name"},"parent_id":{"type":"integer","format":"int32","description":"Parent ID of Location","title":"Parent ID of Location"},"created_at":{"type":"string","description":"Location Created Date and Time","title":"Location Created Date and Time"},"updated_at":{"type":"string","description":"Location Updated Date and Time","title":"Location Updated Date and Time"}},"description":"location"},"assignee":{"type":"object","properties":{"locale":{"type":"string","description":"Assignee Locale","title":"Assignee Locale"},"id":{"type":"integer","format":"int32","description":"ID of Assignee","title":"Assignee ID"},"login":{"type":"string","description":"Assignee Email ID","title":"Assignee Login Email ID"},"name":{"type":"string","description":"Name of Assignee","title":"Assignee Name"},"company_name":{"type":"string","description":"Name of Company","title":"Company Name"}},"description":"assignee"},"created_by":{"type":"object","properties":{"locale":{"type":"string","description":"Created By Locale","title":"Created By Locale"},"id":{"type":"integer","format":"int32","description":"Created By ID","title":"Created By ID"},"login":{"type":"string","description":"Created By Email ID","title":"Created By Email ID"},"name":{"type":"string","description":"Created By Name","title":"Created By Name"},"company_name":{"type":"string","description":"Created By Company Name","title":"Created By Company Name"}},"description":"created_by"},"created_at":{"type":"string","description":"Created Date and Time","title":"Created Date and Time"},"updated_at":{"type":"string","description":"Coordination Issue Updated Date and Time","title":"Coordination Issue Updated Date and Time"},"viewpoints":{"type":"array","items":{"type":"object","properties":{"snapshot":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"ID of Viewpoint Snapshot","title":"ID of Viewpoint Snapshot"},"name":{"type":"string","description":"Name of Viewpoint Snapshot","title":"Name of Viewpoint Snapshot"},"content_type":{"type":"string","description":"Content Type of Viewpoint Snapshot","title":"Content Type of Viewpoint Snapshot"},"url":{"type":"string","description":"URL of Viewpoint Snapshot","title":"URL of Viewpoint Snapshot"}},"description":"snapshot"},"name":{"type":"string","description":"Viewpoint Name","title":"Viewpoint Name"},"camera_data":{"type":"object","properties":{"Type":{"type":"string","description":"Type of Viewpoint Camera Data","title":"Type of Viewpoint Camera Data"},"Scale":{"type":"integer","format":"int32","description":"Scale of ViewPoint Camera Data","title":"Scale of ViewPoint Camera Data"},"Up":{"type":"array","items":{"type":"integer","format":"int32"},"description":"Up"}},"description":"camera_data"},"redlines_data":{"type":"string","description":"Viewpoint redlines Data","title":"Viewpoint redlines Data"},"sections_data":{"type":"string","description":"Viewpoint Section Data","title":"Viewpoint Section Data"}}},"description":"viewpoints"},"attachments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Attachments ID","title":"Attachments ID"},"name":{"type":"string","description":"Attachment File Name","title":"Attachment File Name"},"content_type":{"type":"string","description":"Attachments Content Type","title":"Attachments Content Type"},"url":{"type":"string","description":"Attachment URL","title":"Attachment URL"}}},"description":"attachments"},"linked_procore_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Items ID","title":"Linked Items ID"},"coordination_issue_id":{"type":"integer","format":"int32","description":"Linked Items Coordination Issue ID","title":"Linked Items Coordination Issue ID"},"item_id":{"type":"integer","format":"int32","description":"Item ID of Linked Item","title":"Item ID of Linked Item"},"item_type":{"type":"string","description":"Item Type of Linked Item","title":"Item Type of Linked Item"},"item_url":{"type":"string","description":"Item URL of Linked Item","title":"Item URL of Linked Item"},"item_data":{"type":"object","properties":{"has_official_response":{"type":"boolean","description":"Has Official Response of Linked Items","title":"Has Official Response of Linked Items"},"subject":{"type":"string","description":"Subject of Linked Item","title":"Subject of Linked Item"},"number":{"type":"string","description":"Number of Linked Item","title":"Number of Linked Item"}},"description":"item_data"}}},"description":"linked_procore_items"},"linked_drawings":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Drawing ID","title":"Linked Drawing ID"},"title":{"type":"string","description":"Linked Drawing Title","title":"Linked Drawing Title"},"url":{"type":"string","description":"Linked Drawings URL","title":"Linked Drawings URL"}}},"description":"linked_drawings"},"linked_observation_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Observation items ID","title":"Linked Observation items ID"},"number":{"type":"string","description":"Linked Observation items Number","title":"Linked Observation items Number"},"title":{"type":"string","description":"Linked Observation items Title","title":"Linked Observation items Title"},"url":{"type":"string","description":"Linked Observation items URL","title":"Linked Observation items URL"}}},"description":"linked_observation_items"},"drawing_markup_preview_images":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Drawing Markup Preview Images ID","title":"Drawings Preview Image ID"},"name":{"type":"string","description":"Drawing Markup Preview Images Name","title":"Drawings Preview Image Name"},"content_type":{"type":"string","description":"Drawing Markup Preview Images Content Type","title":"Drawing Content Type"},"url":{"type":"string","description":"url","title":"Drawings Preview Images URL"}}},"description":"drawing_markup_preview_images"},"updated_by":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Coordination Issue Updated By Person ID","title":"Coordination Issue Updated By Person ID"},"login":{"type":"string","description":"Coordination Issue Updated By Email","title":"Coordination Issue Updated By Email"},"name":{"type":"string","description":"Coordination Issue Updated By Person Name","title":"Coordination Issue Updated By Person Name"},"locale":{"type":"string","description":"Coordination Issue Updated By Locale","title":"Coordination Issue Updated By Locale"}},"description":"updated_by"}}}}}},"tags":["co-ordination"],"summary":"Coordination Issue Recycle Bin - Get Coordinate Issue Recycle Bin","operationId":"CoordinationIssueRecycleBin-GetCoordinateIssueRecycleBin","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"},{"$ref":"#/parameters/PageNo"},{"$ref":"#/parameters/PerPage"},{"name":"filters[assignee_company_id]","in":"query","required":false,"type":"string","description":"Filter by Assignee Company ID","x-ms-summary":"Filter by Assignee Company ID","x-ms-visibility":"advanced"},{"name":"filters[assignee_id]","in":"query","required":false,"type":"string","description":"Filter by Assignee ID","x-ms-summary":"Filter by Assignee ID","x-ms-visibility":"advanced"},{"name":"filters[ids]","in":"query","required":false,"type":"string","description":"Filter by matching ID","x-ms-summary":"Filter by matching ID","x-ms-visibility":"advanced"},{"name":"filters[location_id]","in":"query","required":false,"type":"string","description":"Filter by location ID","x-ms-summary":"Filter by location ID","x-ms-visibility":"advanced"},{"name":"filters[include_sublocations]","in":"query","required":false,"type":"string","description":"Filter by sub location ID","x-ms-summary":"Filter by sub location ID","x-ms-visibility":"advanced"},{"name":"filters[search]","in":"query","required":false,"type":"string","description":"Filter by matching search query","x-ms-summary":"Filter by matching search query","x-ms-visibility":"advanced"},{"name":"filters[coordination_issue_file_id]","in":"query","required":false,"type":"string","description":"Filter by Coordination Isssue File ID","x-ms-summary":"Filter by Coordination Isssue File ID","x-ms-visibility":"advanced"},{"name":"filters[status]","in":"query","required":false,"type":"string","description":"Filter by matching Status","x-ms-summary":"Filter by matching Status","x-ms-visibility":"advanced","enum":["open","blocked","unblocked","ready_for_review","closed","moved_to_observation"]},{"$ref":"#/parameters/FilterByUpdatedAt"},{"name":"sort","in":"query","required":false,"type":"string","description":"Sort Data by","x-ms-summary":"Sort Data by","x-ms-visibility":"advanced","enum":["due_date","issue_number","location"]},{"name":"view","in":"query","required":false,"type":"string","description":"View Type","x-ms-summary":"View Type","x-ms-visibility":"advanced","enum":["compact","normal","extended"]}],"description":"Lists all deleted Coordination Issues in the specified project"}},"/coordination_issues/recycleBin/{id}":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Recycle Bin ID","title":"Recycle Bin ID"},"uuid":{"type":"string","description":"Coordination Issue UUID","title":"Coordination Issue UUID"},"title":{"type":"string","description":"Coordination Issue Title","title":"Coordination Issue Title"},"description":{"type":"string","description":"Description","title":"Description"},"status":{"type":"string","description":"Status of Coordination Issue","title":"Status of Coordination Issue"},"issue_number":{"type":"integer","format":"int32","description":"Issue Number","title":"Issue Number"},"creation_source":{"type":"string","description":"Creation Source","title":"Creation Source"},"due_date":{"type":"string","description":"Due Date","title":"Due Date"},"project_id":{"type":"integer","format":"int32","description":"Project ID","title":"ID"},"bim_model_id":{"type":"integer","format":"int32","description":"BIM Model ID","title":"BIM Model ID"},"comments_count":{"type":"integer","format":"int32","description":"Count of no. of Comments","title":"Comments Count"},"coordination_isue_file":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"ID of File","title":"Coordination Issue File ID"},"name":{"type":"string","description":"Coordination Issue File Name","title":"Coordination Issue File Name"},"uuid":{"type":"string","description":"UUID of Coordination Issue File","title":"Coordination Issue File UUID"}},"description":"coordination_isue_file"},"origin":{"type":"object","properties":{"title":{"type":"string","description":"Origin Title","title":"Origin Title"},"origin_id":{"type":"string","description":"Origin ID","title":"Origin ID"},"origin_type":{"type":"string","description":"Origin Type","title":"Origin Type"},"deep_link_url":{"type":"string","description":"Origin Deep Link URL","title":"Origin Deep Link URL"}},"description":"origin"},"location":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Location ID","title":"Location ID"},"name":{"type":"string","description":"Name of Location","title":"Name of Location"},"node_name":{"type":"string","description":"Location Node Name","title":"Location Node Name"},"parent_id":{"type":"integer","format":"int32","description":"Parent ID of Location","title":"Parent ID of Location"},"created_at":{"type":"string","description":"Location Created Date and Time","title":"Location Created Date and Time"},"updated_at":{"type":"string","description":"Location Updated Date and Time","title":"Location Updated Date and Time"}},"description":"location"},"assignee":{"type":"object","properties":{"locale":{"type":"string","description":"Assignee Locale","title":"Assignee Locale"},"id":{"type":"integer","format":"int32","description":"ID of Assignee","title":"Assignee ID"},"login":{"type":"string","description":"Assignee Email ID","title":"Assignee Login Email ID"},"name":{"type":"string","description":"Name of Assignee","title":"Assignee Name"},"company_name":{"type":"string","description":"Name of Company","title":"Company Name"}},"description":"assignee"},"created_by":{"type":"object","properties":{"locale":{"type":"string","description":"Created By Locale","title":"Created By Locale"},"id":{"type":"integer","format":"int32","description":"Created By ID","title":"Created By ID"},"login":{"type":"string","description":"Created By Email ID","title":"Created By Email ID"},"name":{"type":"string","description":"Created By Name","title":"Created By Name"},"company_name":{"type":"string","description":"Created By Company Name","title":"Created By Company Name"}},"description":"created_by"},"created_at":{"type":"string","description":"Created Date and Time","title":"Created Date and Time"},"updated_at":{"type":"string","description":"Coordination Issue Updated Date and Time","title":"Coordination Issue Updated Date and Time"},"viewpoints":{"type":"array","items":{"type":"object","properties":{"snapshot":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"ID of Viewpoint Snapshot","title":"ID of Viewpoint Snapshot"},"name":{"type":"string","description":"Name of Viewpoint Snapshot","title":"Name of Viewpoint Snapshot"},"content_type":{"type":"string","description":"Content Type of Viewpoint Snapshot","title":"Content Type of Viewpoint Snapshot"},"url":{"type":"string","description":"URL of Viewpoint Snapshot","title":"URL of Viewpoint Snapshot"}},"description":"snapshot"},"name":{"type":"string","description":"Viewpoint Name","title":"Viewpoint Name"},"camera_data":{"type":"object","properties":{"Type":{"type":"string","description":"Type of Viewpoint Camera Data","title":"Type of Viewpoint Camera Data"},"Scale":{"type":"integer","format":"int32","description":"Scale of ViewPoint Camera Data","title":"Scale of ViewPoint Camera Data"},"Up":{"type":"array","items":{"type":"integer","format":"int32"},"description":"Up"}},"description":"camera_data"},"redlines_data":{"type":"string","description":"Viewpoint redlines Data","title":"Viewpoint redlines Data"},"sections_data":{"type":"string","description":"Viewpoint Section Data","title":"Viewpoint Section Data"}}},"description":"viewpoints"},"attachments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Attachments ID","title":"Attachments ID"},"name":{"type":"string","description":"Attachment File Name","title":"Attachment File Name"},"content_type":{"type":"string","description":"Attachments Content Type","title":"Attachments Content Type"},"url":{"type":"string","description":"Attachment URL","title":"Attachment URL"}}},"description":"attachments"},"linked_procore_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Items ID","title":"Linked Items ID"},"coordination_issue_id":{"type":"integer","format":"int32","description":"Linked Items Coordination Issue ID","title":"Linked Items Coordination Issue ID"},"item_id":{"type":"integer","format":"int32","description":"Item ID of Linked Item","title":"Item ID of Linked Item"},"item_type":{"type":"string","description":"Item Type of Linked Item","title":"Item Type of Linked Item"},"item_url":{"type":"string","description":"Item URL of Linked Item","title":"Item URL of Linked Item"},"item_data":{"type":"object","properties":{"has_official_response":{"type":"boolean","description":"Has Official Response of Linked Items","title":"Has Official Response of Linked Items"},"subject":{"type":"string","description":"Subject of Linked Item","title":"Subject of Linked Item"},"number":{"type":"string","description":"Number of Linked Item","title":"Number of Linked Item"}},"description":"item_data"}}},"description":"linked_procore_items"},"linked_drawings":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Drawing ID","title":"Linked Drawing ID"},"title":{"type":"string","description":"Linked Drawing Title","title":"Linked Drawing Title"},"url":{"type":"string","description":"Linked Drawings URL","title":"Linked Drawings URL"}}},"description":"linked_drawings"},"linked_observation_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Observation items ID","title":"Linked Observation items ID"},"number":{"type":"string","description":"Linked Observation items Number","title":"Linked Observation items Number"},"title":{"type":"string","description":"Linked Observation items Title","title":"Linked Observation items Title"},"url":{"type":"string","description":"Linked Observation items URL","title":"Linked Observation items URL"}}},"description":"linked_observation_items"},"drawing_markup_preview_images":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Drawing Markup Preview Images ID","title":"Drawings Preview Image ID"},"name":{"type":"string","description":"Drawing Markup Preview Images Name","title":"Drawings Preview Image Name"},"content_type":{"type":"string","description":"Drawing Markup Preview Images Content Type","title":"Drawing Content Type"},"url":{"type":"string","description":"url","title":"Drawings Preview Images URL"}}},"description":"drawing_markup_preview_images"},"updated_by":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Coordination Issue Updated By Person ID","title":"Coordination Issue Updated By Person ID"},"login":{"type":"string","description":"Coordination Issue Updated By Email","title":"Coordination Issue Updated By Email"},"name":{"type":"string","description":"Coordination Issue Updated By Person Name","title":"Coordination Issue Updated By Person Name"},"locale":{"type":"string","description":"Coordination Issue Updated By Locale","title":"Coordination Issue Updated By Locale"}},"description":"updated_by"}}}}},"tags":["co-ordination"],"summary":"Coordination Issue Recycle Bin - Show Coordination Issue In Recycle Bin","operationId":"CoordinationIssueRecycleBin-ShowCoordinationIssueInRecycleBin","description":"Lists all deleted Coordination Issues in the specified project","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"},{"name":"id","in":"path","required":true,"type":"integer","description":"Coordination Issue ID","x-ms-summary":"Coordination Issue ID","x-ms-url-encoding":"single","x-ms-visibility":"important","format":"int32","x-ms-dynamic-values":{"operationId":"CoordinationIssues-GetCoordinationIssues","value-path":"id","value-title":"title","parameters":{"company_id":{"parameter":"company_id"},"project_id":{"parameter":"project_id"}}}},{"name":"view","in":"query","required":false,"type":"string","description":"View Type","x-ms-summary":"View Type","x-ms-visibility":"advanced","enum":["compact","normal","extended"]}]},"patch":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{}}}},"tags":["co-ordination"],"summary":"Coordination Issue Recycle Bin - Retrieve Coordination Issue From Recycle Bin","operationId":"CoordinationIssueRecycleBin-RetrieveCoordinationIssueFromRecycleBin","description":"Retrieve Coordination Issue from Recycle Bin.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"},{"name":"id","in":"path","required":true,"type":"integer","description":"Coordination Issue ID","x-ms-summary":"Coordination Issue ID","x-ms-url-encoding":"single","format":"int32","x-ms-dynamic-values":{"operationId":"CoordinationIssues-GetCoordinationIssues","value-path":"id","value-title":"title","parameters":{"company_id":{"parameter":"company_id"},"project_id":{"parameter":"project_id"}}}},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"coordination_issue_file":{"type":"object","properties":{"name":{"type":"string"},"target_project_id":{"type":"integer"}}}}}}]}},"/coordination_issues":{"get":{"responses":{"200":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Coordination Issue ID","title":"Coordination Issue ID"},"uuid":{"type":"string","description":"Coordination Issue UUID","title":"Coordination Issue UUID"},"title":{"type":"string","description":"Coordination Issue Title","title":"Coordination Issue Title"},"description":{"type":"string","description":"Description","title":"Description"},"status":{"type":"string","description":"Status of Coordination Issue","title":"Status of Coordination Issue"},"issue_number":{"type":"integer","format":"int32","description":"Issue Number","title":"Issue Number"},"creation_source":{"type":"string","description":"Creation Source","title":"Creation Source"},"due_date":{"type":"string","description":"Due Date","title":"Due Date"},"project_id":{"type":"integer","format":"int32","description":"Project ID","title":"ID"},"bim_model_id":{"type":"integer","format":"int32","description":"BIM Model ID","title":"BIM Model ID"},"comments_count":{"type":"integer","format":"int32","description":"Count of no. of Comments","title":"Comments Count"},"coordination_isue_file":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"ID of File","title":"Coordination Issue File ID"},"name":{"type":"string","description":"Coordination Issue File Name","title":"Coordination Issue File Name"},"uuid":{"type":"string","description":"UUID of Coordination Issue File","title":"Coordination Issue File UUID"}},"description":"coordination_isue_file"},"origin":{"type":"object","properties":{"title":{"type":"string","description":"Origin Title","title":"Origin Title"},"origin_id":{"type":"string","description":"Origin ID","title":"Origin ID"},"origin_type":{"type":"string","description":"Origin Type","title":"Origin Type"},"deep_link_url":{"type":"string","description":"Origin Deep Link URL","title":"Origin Deep Link URL"}},"description":"origin"},"location":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Location ID","title":"Location ID"},"name":{"type":"string","description":"Name of Location","title":"Name of Location"},"node_name":{"type":"string","description":"Location Node Name","title":"Location Node Name"},"parent_id":{"type":"integer","format":"int32","description":"Parent ID of Location","title":"Parent ID of Location"},"created_at":{"type":"string","description":"Location Created Date and Time","title":"Location Created Date and Time"},"updated_at":{"type":"string","description":"Location Updated Date and Time","title":"Location Updated Date and Time"}},"description":"location"},"assignee":{"type":"object","properties":{"locale":{"type":"string","description":"Assignee Locale","title":"Assignee Locale"},"id":{"type":"integer","format":"int32","description":"ID of Assignee","title":"Assignee ID"},"login":{"type":"string","description":"Assignee Email ID","title":"Assignee Login Email ID"},"name":{"type":"string","description":"Name of Assignee","title":"Assignee Name"},"company_name":{"type":"string","description":"Name of Company","title":"Company Name"}},"description":"assignee"},"created_by":{"type":"object","properties":{"locale":{"type":"string","description":"Created By Locale","title":"Created By Locale"},"id":{"type":"integer","format":"int32","description":"Created By ID","title":"Created By ID"},"login":{"type":"string","description":"Created By Email ID","title":"Created By Email ID"},"name":{"type":"string","description":"Created By Name","title":"Created By Name"},"company_name":{"type":"string","description":"Created By Company Name","title":"Created By Company Name"}},"description":"created_by"},"created_at":{"type":"string","description":"Created Date and Time","title":"Created Date and Time"},"updated_at":{"type":"string","description":"Coordination Issue Updated Date and Time","title":"Coordination Issue Updated Date and Time"},"viewpoints":{"type":"array","items":{"type":"object","properties":{"snapshot":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"ID of Viewpoint Snapshot","title":"ID of Viewpoint Snapshot"},"name":{"type":"string","description":"Name of Viewpoint Snapshot","title":"Name of Viewpoint Snapshot"},"content_type":{"type":"string","description":"Content Type of Viewpoint Snapshot","title":"Content Type of Viewpoint Snapshot"},"url":{"type":"string","description":"URL of Viewpoint Snapshot","title":"URL of Viewpoint Snapshot"}},"description":"snapshot"},"name":{"type":"string","description":"Viewpoint Name","title":"Viewpoint Name"},"camera_data":{"type":"object","properties":{"Type":{"type":"string","description":"Type of Viewpoint Camera Data","title":"Type of Viewpoint Camera Data"},"Scale":{"type":"integer","format":"int32","description":"Scale of ViewPoint Camera Data","title":"Scale of ViewPoint Camera Data"},"Up":{"type":"array","items":{"type":"integer","format":"int32"},"description":"Up"}},"description":"camera_data"},"redlines_data":{"type":"string","description":"Viewpoint redlines Data","title":"Viewpoint redlines Data"},"sections_data":{"type":"string","description":"Viewpoint Section Data","title":"Viewpoint Section Data"}}},"description":"viewpoints"},"attachments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Attachments ID","title":"Attachments ID"},"name":{"type":"string","description":"Attachment File Name","title":"Attachment File Name"},"content_type":{"type":"string","description":"Attachments Content Type","title":"Attachments Content Type"},"url":{"type":"string","description":"Attachment URL","title":"Attachment URL"}}},"description":"attachments"},"linked_procore_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Items ID","title":"Linked Items ID"},"coordination_issue_id":{"type":"integer","format":"int32","description":"Linked Items Coordination Issue ID","title":"Linked Items Coordination Issue ID"},"item_id":{"type":"integer","format":"int32","description":"Item ID of Linked Item","title":"Item ID of Linked Item"},"item_type":{"type":"string","description":"Item Type of Linked Item","title":"Item Type of Linked Item"},"item_url":{"type":"string","description":"Item URL of Linked Item","title":"Item URL of Linked Item"},"item_data":{"type":"object","properties":{"has_official_response":{"type":"boolean","description":"Has Official Response of Linked Items","title":"Has Official Response of Linked Items"},"subject":{"type":"string","description":"Subject of Linked Item","title":"Subject of Linked Item"},"number":{"type":"string","description":"Number of Linked Item","title":"Number of Linked Item"}},"description":"item_data"}}},"description":"linked_procore_items"},"linked_drawings":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Drawing ID","title":"Linked Drawing ID"},"title":{"type":"string","description":"Linked Drawing Title","title":"Linked Drawing Title"},"url":{"type":"string","description":"Linked Drawings URL","title":"Linked Drawings URL"}}},"description":"linked_drawings"},"linked_observation_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Observation items ID","title":"Linked Observation items ID"},"number":{"type":"string","description":"Linked Observation items Number","title":"Linked Observation items Number"},"title":{"type":"string","description":"Linked Observation items Title","title":"Linked Observation items Title"},"url":{"type":"string","description":"Linked Observation items URL","title":"Linked Observation items URL"}}},"description":"linked_observation_items"},"drawing_markup_preview_images":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Drawing Markup Preview Images ID","title":"Drawings Preview Image ID"},"name":{"type":"string","description":"Drawing Markup Preview Images Name","title":"Drawings Preview Image Name"},"content_type":{"type":"string","description":"Drawing Markup Preview Images Content Type","title":"Drawing Content Type"},"url":{"type":"string","description":"url","title":"Drawings Preview Images URL"}}},"description":"drawing_markup_preview_images"},"updated_by":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Coordination Issue Updated By Person ID","title":"Coordination Issue Updated By Person ID"},"login":{"type":"string","description":"Coordination Issue Updated By Email","title":"Coordination Issue Updated By Email"},"name":{"type":"string","description":"Coordination Issue Updated By Person Name","title":"Coordination Issue Updated By Person Name"},"locale":{"type":"string","description":"Coordination Issue Updated By Locale","title":"Coordination Issue Updated By Locale"}},"description":"updated_by"}}}}}},"tags":["co-ordination"],"summary":"Coordination Issues - Get Coordination Issues","operationId":"CoordinationIssues-GetCoordinationIssues","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"},{"$ref":"#/parameters/PageNo"},{"$ref":"#/parameters/PerPage"},{"name":"filters[assignee_company_id]","in":"query","required":false,"type":"string","description":"Filter by Assignee Company ID","x-ms-summary":"Filter by Assignee Company ID","x-ms-visibility":"advanced"},{"name":"filters[assignee_id]","in":"query","required":false,"type":"string","description":"Filter by Assignee ID","x-ms-summary":"Filter by Assignee ID","x-ms-visibility":"advanced"},{"name":"filters[ids]","in":"query","required":false,"type":"string","description":"Filter by matching ID","x-ms-summary":"Filter by matching ID","x-ms-visibility":"advanced"},{"name":"filters[location_id]","in":"query","required":false,"type":"string","description":"Filter by location ID","x-ms-summary":"Filter by location ID","x-ms-visibility":"advanced"},{"name":"filters[include_sublocations]","in":"query","required":false,"type":"string","description":"Filter by sub location ID","x-ms-summary":"Filter by sub location ID","x-ms-visibility":"advanced"},{"name":"filters[search]","in":"query","required":false,"type":"string","description":"Filter by matching search query","x-ms-summary":"Filter by matching search query","x-ms-visibility":"advanced"},{"name":"filters[coordination_issue_file_id]","in":"query","required":false,"type":"string","description":"Filter by Coordination Isssue File ID","x-ms-summary":"Filter by Coordination Isssue File ID","x-ms-visibility":"advanced"},{"name":"filters[status]","in":"query","required":false,"type":"string","description":"Filter by matching Status","x-ms-summary":"Filter by matching Status","x-ms-visibility":"advanced","enum":["open","blocked","unblocked","ready_for_review","closed","moved_to_observation"]},{"$ref":"#/parameters/FilterByUpdatedAt"},{"name":"sort","in":"query","required":false,"type":"string","description":"Sort Data by","x-ms-summary":"Sort Data by","x-ms-visibility":"advanced","enum":["due_date","issue_number","location"]},{"name":"view","in":"query","required":false,"type":"string","description":"View Type","x-ms-summary":"View Type","x-ms-visibility":"advanced","enum":["compact","normal","extended"]},{"name":"save_sticky_filters","in":"query","required":false,"type":"string","description":"Persists filter parameters","x-ms-summary":"Persists filter parameters","x-ms-visibility":"advanced"}],"description":"Lists Coordination Issues associated with the specified Project."},"post":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Coordination Issue ID","title":"Coordination Issue ID"},"uuid":{"type":"string","description":"Coordination Issue UUID","title":"Coordination Issue UUID"},"title":{"type":"string","description":"Coordination Issue Title","title":"Coordination Issue Title"},"description":{"type":"string","description":"Description","title":"Description"},"status":{"type":"string","description":"Status of Coordination Issue","title":"Status of Coordination Issue"},"issue_number":{"type":"integer","format":"int32","description":"Issue Number","title":"Issue Number"},"creation_source":{"type":"string","description":"Creation Source","title":"Creation Source"},"due_date":{"type":"string","description":"Due Date","title":"Due Date"},"project_id":{"type":"integer","format":"int32","description":"Project ID","title":"ID"},"bim_model_id":{"type":"integer","format":"int32","description":"BIM Model ID","title":"BIM Model ID"},"comments_count":{"type":"integer","format":"int32","description":"Count of no. of Comments","title":"Comments Count"},"coordination_isue_file":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"ID of File","title":"Coordination Issue File ID"},"name":{"type":"string","description":"Coordination Issue File Name","title":"Coordination Issue File Name"},"uuid":{"type":"string","description":"UUID of Coordination Issue File","title":"Coordination Issue File UUID"}},"description":"coordination_isue_file"},"origin":{"type":"object","properties":{"title":{"type":"string","description":"Origin Title","title":"Origin Title"},"origin_id":{"type":"string","description":"Origin ID","title":"Origin ID"},"origin_type":{"type":"string","description":"Origin Type","title":"Origin Type"},"deep_link_url":{"type":"string","description":"Origin Deep Link URL","title":"Origin Deep Link URL"}},"description":"origin"},"location":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Location ID","title":"Location ID"},"name":{"type":"string","description":"Name of Location","title":"Name of Location"},"node_name":{"type":"string","description":"Location Node Name","title":"Location Node Name"},"parent_id":{"type":"integer","format":"int32","description":"Parent ID of Location","title":"Parent ID of Location"},"created_at":{"type":"string","description":"Location Created Date and Time","title":"Location Created Date and Time"},"updated_at":{"type":"string","description":"Location Updated Date and Time","title":"Location Updated Date and Time"}},"description":"location"},"assignee":{"type":"object","properties":{"locale":{"type":"string","description":"Assignee Locale","title":"Assignee Locale"},"id":{"type":"integer","format":"int32","description":"ID of Assignee","title":"Assignee ID"},"login":{"type":"string","description":"Assignee Email ID","title":"Assignee Login Email ID"},"name":{"type":"string","description":"Name of Assignee","title":"Assignee Name"},"company_name":{"type":"string","description":"Name of Company","title":"Company Name"}},"description":"assignee"},"created_by":{"type":"object","properties":{"locale":{"type":"string","description":"Created By Locale","title":"Created By Locale"},"id":{"type":"integer","format":"int32","description":"Created By ID","title":"Created By ID"},"login":{"type":"string","description":"Created By Email ID","title":"Created By Email ID"},"name":{"type":"string","description":"Created By Name","title":"Created By Name"},"company_name":{"type":"string","description":"Created By Company Name","title":"Created By Company Name"}},"description":"created_by"},"created_at":{"type":"string","description":"Created Date and Time","title":"Created Date and Time"},"updated_at":{"type":"string","description":"Coordination Issue Updated Date and Time","title":"Coordination Issue Updated Date and Time"},"viewpoints":{"type":"array","items":{"type":"object","properties":{"snapshot":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"ID of Viewpoint Snapshot","title":"ID of Viewpoint Snapshot"},"name":{"type":"string","description":"Name of Viewpoint Snapshot","title":"Name of Viewpoint Snapshot"},"content_type":{"type":"string","description":"Content Type of Viewpoint Snapshot","title":"Content Type of Viewpoint Snapshot"},"url":{"type":"string","description":"URL of Viewpoint Snapshot","title":"URL of Viewpoint Snapshot"}},"description":"snapshot"},"name":{"type":"string","description":"Viewpoint Name","title":"Viewpoint Name"},"camera_data":{"type":"object","properties":{"Type":{"type":"string","description":"Type of Viewpoint Camera Data","title":"Type of Viewpoint Camera Data"},"Scale":{"type":"integer","format":"int32","description":"Scale of ViewPoint Camera Data","title":"Scale of ViewPoint Camera Data"},"Up":{"type":"array","items":{"type":"integer","format":"int32"},"description":"Up"}},"description":"camera_data"},"redlines_data":{"type":"string","description":"Viewpoint redlines Data","title":"Viewpoint redlines Data"},"sections_data":{"type":"string","description":"Viewpoint Section Data","title":"Viewpoint Section Data"}}},"description":"viewpoints"},"attachments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Attachments ID","title":"Attachments ID"},"name":{"type":"string","description":"Attachment File Name","title":"Attachment File Name"},"content_type":{"type":"string","description":"Attachments Content Type","title":"Attachments Content Type"},"url":{"type":"string","description":"Attachment URL","title":"Attachment URL"}}},"description":"attachments"},"linked_procore_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Items ID","title":"Linked Items ID"},"coordination_issue_id":{"type":"integer","format":"int32","description":"Linked Items Coordination Issue ID","title":"Linked Items Coordination Issue ID"},"item_id":{"type":"integer","format":"int32","description":"Item ID of Linked Item","title":"Item ID of Linked Item"},"item_type":{"type":"string","description":"Item Type of Linked Item","title":"Item Type of Linked Item"},"item_url":{"type":"string","description":"Item URL of Linked Item","title":"Item URL of Linked Item"},"item_data":{"type":"object","properties":{"has_official_response":{"type":"boolean","description":"Has Official Response of Linked Items","title":"Has Official Response of Linked Items"},"subject":{"type":"string","description":"Subject of Linked Item","title":"Subject of Linked Item"},"number":{"type":"string","description":"Number of Linked Item","title":"Number of Linked Item"}},"description":"item_data"}}},"description":"linked_procore_items"},"linked_drawings":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Drawing ID","title":"Linked Drawing ID"},"title":{"type":"string","description":"Linked Drawing Title","title":"Linked Drawing Title"},"url":{"type":"string","description":"Linked Drawings URL","title":"Linked Drawings URL"}}},"description":"linked_drawings"},"linked_observation_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Observation items ID","title":"Linked Observation items ID"},"number":{"type":"string","description":"Linked Observation items Number","title":"Linked Observation items Number"},"title":{"type":"string","description":"Linked Observation items Title","title":"Linked Observation items Title"},"url":{"type":"string","description":"Linked Observation items URL","title":"Linked Observation items URL"}}},"description":"linked_observation_items"},"drawing_markup_preview_images":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Drawing Markup Preview Images ID","title":"Drawings Preview Image ID"},"name":{"type":"string","description":"Drawing Markup Preview Images Name","title":"Drawings Preview Image Name"},"content_type":{"type":"string","description":"Drawing Markup Preview Images Content Type","title":"Drawing Content Type"},"url":{"type":"string","description":"url","title":"Drawings Preview Images URL"}}},"description":"drawing_markup_preview_images"},"updated_by":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Coordination Issue Updated By Person ID","title":"Coordination Issue Updated By Person ID"},"login":{"type":"string","description":"Coordination Issue Updated By Email","title":"Coordination Issue Updated By Email"},"name":{"type":"string","description":"Coordination Issue Updated By Person Name","title":"Coordination Issue Updated By Person Name"},"locale":{"type":"string","description":"Coordination Issue Updated By Locale","title":"Coordination Issue Updated By Locale"}},"description":"updated_by"}}}}},"tags":["co-ordination"],"summary":"Coordination Issue - Create Coordination Issue","operationId":"CoordinationIssue-CreateCoordinationIssue","description":"Create a Coordination Issue in a Project","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"project_id":{"type":"integer","format":"int32","description":"Project ID","title":"Project ID","x-ms-dynamic-values":{"operationId":"Projects-GetProjects","value-path":"id","value-title":"name","parameters":{"company_id":{"parameter":"company_id"}}}},"coordination_issue":{"type":"object","properties":{"uuid":{"type":"string","description":"Coordination Issue UUID","title":"Coordination Issue UUID"},"title":{"type":"string","description":"Coordination Issue title","title":"Coordination Issue title"},"description":{"type":"string","description":"Coordination Issue description","title":"Coordination Issue description"},"status":{"type":"string","description":"Status of the issue","title":"Status of the issue"},"creation_source":{"type":"string","description":"Source of issue creation","title":"Source of issue creation"},"location_id":{"type":"integer","format":"int32","description":"Location where the issue is present","title":"Location where the issue is present"},"assignee_id":{"type":"integer","format":"int32","description":"ID of user that should be assigned the issue","title":"ID of user that should be assigned the issue"},"coordination_issue_file_id":{"type":"integer","format":"int32","description":"ID of the coordination issue source file that the issue should be associated to","title":"ID of source file"},"bim_model_id":{"type":"integer","format":"int32","description":"ID of the model to be associated","title":"ID of the model to be associated"},"due_date":{"type":"string","description":"Due date of the Coordination Issue","title":"Due date of the Coordination Issue"},"origin":{"type":"object","properties":{"title":{"type":"string","description":"Title of the origin item","title":"Title of the origin item"},"origin_id":{"type":"string","description":"Id of the origin item","title":"Id of the origin item"},"origin_type":{"type":"string","description":"Type of origin item","title":"Type of origin item"},"deep_link_url":{"type":"string","description":"Deep link URL to the origin item","title":"Deep link URL to the origin item"}},"description":"origin","required":["title","origin_id","origin_type","deep_link_url"]},"attachment_upload_uuids":{"type":"array","items":{"type":"string","description":"UUID of uploaded file","title":"UUID of uploaded file"},"description":"attachment_upload_uuids"},"attachments":{"type":"array","items":{"type":"string","description":"File to use as image data","title":"File to use as image data"},"description":"attachments"},"viewpoints":{"type":"array","items":{"type":"object","properties":{"snapshot_upload_uuid":{"type":"string","description":"UUID of uploaded snapshot","title":"UUID of uploaded snapshot"},"snapshot":{"type":"string","description":"File to use as image data","title":"Snapshot"},"name":{"type":"string","description":"Viewpoint name","title":"Viewpoint name"},"camera_data":{"type":"string","description":"Camera data for the building model associated with the issue","title":"Camera data"},"redlines_data":{"type":"string","description":"Lines data for the building model associated with the issue","title":"Lines data"},"sections_data":{"type":"string","description":"Clipping plane data for the building model associated with the issue","title":"Clipping plane data"}},"required":["snapshot_upload_uuid","camera_data"]},"description":"viewpoints"}},"description":"coordination_issue","required":["title","origin","viewpoints"]}},"required":["project_id","coordination_issue"]}}]}},"/cord/coordination_issues/{id}":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Coordination Issue ID","title":"Coordination Issue ID"},"uuid":{"type":"string","description":"Coordination Issue UUID","title":"Coordination Issue UUID"},"title":{"type":"string","description":"Coordination Issue Title","title":"Coordination Issue Title"},"description":{"type":"string","description":"Description","title":"Description"},"status":{"type":"string","description":"Status of Coordination Issue","title":"Status of Coordination Issue"},"issue_number":{"type":"integer","format":"int32","description":"Issue Number","title":"Issue Number"},"creation_source":{"type":"string","description":"Creation Source","title":"Creation Source"},"due_date":{"type":"string","description":"Due Date","title":"Due Date"},"project_id":{"type":"integer","format":"int32","description":"Project ID","title":"ID"},"bim_model_id":{"type":"integer","format":"int32","description":"BIM Model ID","title":"BIM Model ID"},"comments_count":{"type":"integer","format":"int32","description":"Count of no. of Comments","title":"Comments Count"},"coordination_isue_file":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"ID of File","title":"Coordination Issue File ID"},"name":{"type":"string","description":"Coordination Issue File Name","title":"Coordination Issue File Name"},"uuid":{"type":"string","description":"UUID of Coordination Issue File","title":"Coordination Issue File UUID"}},"description":"coordination_isue_file"},"origin":{"type":"object","properties":{"title":{"type":"string","description":"Origin Title","title":"Origin Title"},"origin_id":{"type":"string","description":"Origin ID","title":"Origin ID"},"origin_type":{"type":"string","description":"Origin Type","title":"Origin Type"},"deep_link_url":{"type":"string","description":"Origin Deep Link URL","title":"Origin Deep Link URL"}},"description":"origin"},"location":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Location ID","title":"Location ID"},"name":{"type":"string","description":"Name of Location","title":"Name of Location"},"node_name":{"type":"string","description":"Location Node Name","title":"Location Node Name"},"parent_id":{"type":"integer","format":"int32","description":"Parent ID of Location","title":"Parent ID of Location"},"created_at":{"type":"string","description":"Location Created Date and Time","title":"Location Created Date and Time"},"updated_at":{"type":"string","description":"Location Updated Date and Time","title":"Location Updated Date and Time"}},"description":"location"},"assignee":{"type":"object","properties":{"locale":{"type":"string","description":"Assignee Locale","title":"Assignee Locale"},"id":{"type":"integer","format":"int32","description":"ID of Assignee","title":"Assignee ID"},"login":{"type":"string","description":"Assignee Email ID","title":"Assignee Login Email ID"},"name":{"type":"string","description":"Name of Assignee","title":"Assignee Name"},"company_name":{"type":"string","description":"Name of Company","title":"Company Name"}},"description":"assignee"},"created_by":{"type":"object","properties":{"locale":{"type":"string","description":"Created By Locale","title":"Created By Locale"},"id":{"type":"integer","format":"int32","description":"Created By ID","title":"Created By ID"},"login":{"type":"string","description":"Created By Email ID","title":"Created By Email ID"},"name":{"type":"string","description":"Created By Name","title":"Created By Name"},"company_name":{"type":"string","description":"Created By Company Name","title":"Created By Company Name"}},"description":"created_by"},"created_at":{"type":"string","description":"Created Date and Time","title":"Created Date and Time"},"updated_at":{"type":"string","description":"Coordination Issue Updated Date and Time","title":"Coordination Issue Updated Date and Time"},"viewpoints":{"type":"array","items":{"type":"object","properties":{"snapshot":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"ID of Viewpoint Snapshot","title":"ID of Viewpoint Snapshot"},"name":{"type":"string","description":"Name of Viewpoint Snapshot","title":"Name of Viewpoint Snapshot"},"content_type":{"type":"string","description":"Content Type of Viewpoint Snapshot","title":"Content Type of Viewpoint Snapshot"},"url":{"type":"string","description":"URL of Viewpoint Snapshot","title":"URL of Viewpoint Snapshot"}},"description":"snapshot"},"name":{"type":"string","description":"Viewpoint Name","title":"Viewpoint Name"},"camera_data":{"type":"object","properties":{"Type":{"type":"string","description":"Type of Viewpoint Camera Data","title":"Type of Viewpoint Camera Data"},"Scale":{"type":"integer","format":"int32","description":"Scale of ViewPoint Camera Data","title":"Scale of ViewPoint Camera Data"},"Up":{"type":"array","items":{"type":"integer","format":"int32"},"description":"Up"}},"description":"camera_data"},"redlines_data":{"type":"string","description":"Viewpoint redlines Data","title":"Viewpoint redlines Data"},"sections_data":{"type":"string","description":"Viewpoint Section Data","title":"Viewpoint Section Data"}}},"description":"viewpoints"},"attachments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Attachments ID","title":"Attachments ID"},"name":{"type":"string","description":"Attachment File Name","title":"Attachment File Name"},"content_type":{"type":"string","description":"Attachments Content Type","title":"Attachments Content Type"},"url":{"type":"string","description":"Attachment URL","title":"Attachment URL"}}},"description":"attachments"},"linked_procore_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Items ID","title":"Linked Items ID"},"coordination_issue_id":{"type":"integer","format":"int32","description":"Linked Items Coordination Issue ID","title":"Linked Items Coordination Issue ID"},"item_id":{"type":"integer","format":"int32","description":"Item ID of Linked Item","title":"Item ID of Linked Item"},"item_type":{"type":"string","description":"Item Type of Linked Item","title":"Item Type of Linked Item"},"item_url":{"type":"string","description":"Item URL of Linked Item","title":"Item URL of Linked Item"},"item_data":{"type":"object","properties":{"has_official_response":{"type":"boolean","description":"Has Official Response of Linked Items","title":"Has Official Response of Linked Items"},"subject":{"type":"string","description":"Subject of Linked Item","title":"Subject of Linked Item"},"number":{"type":"string","description":"Number of Linked Item","title":"Number of Linked Item"}},"description":"item_data"}}},"description":"linked_procore_items"},"linked_drawings":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Drawing ID","title":"Linked Drawing ID"},"title":{"type":"string","description":"Linked Drawing Title","title":"Linked Drawing Title"},"url":{"type":"string","description":"Linked Drawings URL","title":"Linked Drawings URL"}}},"description":"linked_drawings"},"linked_observation_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Observation items ID","title":"Linked Observation items ID"},"number":{"type":"string","description":"Linked Observation items Number","title":"Linked Observation items Number"},"title":{"type":"string","description":"Linked Observation items Title","title":"Linked Observation items Title"},"url":{"type":"string","description":"Linked Observation items URL","title":"Linked Observation items URL"}}},"description":"linked_observation_items"},"drawing_markup_preview_images":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Drawing Markup Preview Images ID","title":"Drawings Preview Image ID"},"name":{"type":"string","description":"Drawing Markup Preview Images Name","title":"Drawings Preview Image Name"},"content_type":{"type":"string","description":"Drawing Markup Preview Images Content Type","title":"Drawing Content Type"},"url":{"type":"string","description":"url","title":"Drawings Preview Images URL"}}},"description":"drawing_markup_preview_images"},"updated_by":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Coordination Issue Updated By Person ID","title":"Coordination Issue Updated By Person ID"},"login":{"type":"string","description":"Coordination Issue Updated By Email","title":"Coordination Issue Updated By Email"},"name":{"type":"string","description":"Coordination Issue Updated By Person Name","title":"Coordination Issue Updated By Person Name"},"locale":{"type":"string","description":"Coordination Issue Updated By Locale","title":"Coordination Issue Updated By Locale"}},"description":"updated_by"}}}}},"tags":["co-ordination"],"summary":"Coordination Issues - Show Coordination Issue","operationId":"CoordinationIssues-ShowCoordinationIssue","description":"Return a single Coordination Issue item.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"},{"name":"id","in":"path","required":true,"type":"integer","description":"Coordination Issue ID","x-ms-summary":"Coordination Issue ID","x-ms-url-encoding":"single","format":"int32","x-ms-dynamic-values":{"operationId":"CoordinationIssues-GetCoordinationIssues","value-path":"id","value-title":"title","parameters":{"company_id":{"parameter":"company_id"},"project_id":{"parameter":"project_id"}}}},{"name":"view","in":"query","required":false,"type":"string","description":"View Type","x-ms-summary":"View Type","enum":["compact","normal","extended"]}]}},"/coordination_issues-filterOptions":{"get":{"responses":{"200":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"Option Key","title":"Option Key"},"value":{"type":"string","description":"Filter Option Value","title":"Filter Option Value"},"endpoint":{"type":"string","description":"Filter Option EndPoint","title":"Filter Option EndPoint"}}}}}},"tags":["co-ordination"],"summary":"Get Coordination Issue Filter Options - Get Filter Options","operationId":"GetCoordinationIssueFilterOptions-GetCoordinationIssueFilterOptions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"}],"description":"Get filters that are available to filter Coordination Issues an array of objects"}},"/coordination_issues-statusTotal/":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"open_count":{"type":"integer","format":"int32","description":"Coordination Issues Sub Total","title":"Coordination Issues Sub Total"},"blocked_count":{"type":"integer","format":"int32","description":"Coordination Issues Blocked Count","title":"Coordination Issues Blocked Count"},"unblocked_count":{"type":"integer","format":"int32","description":"Coordination Issues Unblocked Count","title":"Coordination Issues Unblocked Count"},"ready_for_review_count":{"type":"integer","format":"int32","description":"Coordination Issues Ready For Review Count","title":"Coordination Issues Ready For Review Count"},"moved_to_observation_count":{"type":"integer","format":"int32","description":"Coordination Issues Moved To Observation Count","title":"Coordination Issues Moved To Observation Count"},"closed_count":{"type":"integer","format":"int32","description":"Coordination Issues Closed Counts","title":"Coordination Issues Closed Counts"}}}}},"tags":["co-ordination"],"summary":"Coordination Issue Status Totals-Show Total Status Count For Coordination Issue","operationId":"CoordinationIssue-GetStatusTotals","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/CompanyFromQuery"},{"$ref":"#/parameters/ProjectFromQuery"}],"description":"Get the status counts for Coordination Issues in a project."}},"/coordination_issues/sync":{"patch":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Coordination Issue ID","title":"Coordination Issue ID"},"uuid":{"type":"string","description":"Coordination Issue UUID","title":"Coordination Issue UUID"},"title":{"type":"string","description":"Coordination Issue Title","title":"Coordination Issue Title"},"description":{"type":"string","description":"Description","title":"Description"},"status":{"type":"string","description":"Status of Coordination Issue","title":"Status of Coordination Issue"},"issue_number":{"type":"integer","format":"int32","description":"Issue Number","title":"Issue Number"},"creation_source":{"type":"string","description":"Creation Source","title":"Creation Source"},"due_date":{"type":"string","description":"Due Date","title":"Due Date"},"project_id":{"type":"integer","format":"int32","description":"Project ID","title":"ID"},"bim_model_id":{"type":"integer","format":"int32","description":"BIM Model ID","title":"BIM Model ID"},"comments_count":{"type":"integer","format":"int32","description":"Count of no. of Comments","title":"Comments Count"},"coordination_isue_file":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"ID of File","title":"Coordination Issue File ID"},"name":{"type":"string","description":"Coordination Issue File Name","title":"Coordination Issue File Name"},"uuid":{"type":"string","description":"UUID of Coordination Issue File","title":"Coordination Issue File UUID"}},"description":"coordination_isue_file"},"origin":{"type":"object","properties":{"title":{"type":"string","description":"Origin Title","title":"Origin Title"},"origin_id":{"type":"string","description":"Origin ID","title":"Origin ID"},"origin_type":{"type":"string","description":"Origin Type","title":"Origin Type"},"deep_link_url":{"type":"string","description":"Origin Deep Link URL","title":"Origin Deep Link URL"}},"description":"origin"},"location":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Location ID","title":"Location ID"},"name":{"type":"string","description":"Name of Location","title":"Name of Location"},"node_name":{"type":"string","description":"Location Node Name","title":"Location Node Name"},"parent_id":{"type":"integer","format":"int32","description":"Parent ID of Location","title":"Parent ID of Location"},"created_at":{"type":"string","description":"Location Created Date and Time","title":"Location Created Date and Time"},"updated_at":{"type":"string","description":"Location Updated Date and Time","title":"Location Updated Date and Time"}},"description":"location"},"assignee":{"type":"object","properties":{"locale":{"type":"string","description":"Assignee Locale","title":"Assignee Locale"},"id":{"type":"integer","format":"int32","description":"ID of Assignee","title":"Assignee ID"},"login":{"type":"string","description":"Assignee Email ID","title":"Assignee Login Email ID"},"name":{"type":"string","description":"Name of Assignee","title":"Assignee Name"},"company_name":{"type":"string","description":"Name of Company","title":"Company Name"}},"description":"assignee"},"created_by":{"type":"object","properties":{"locale":{"type":"string","description":"Created By Locale","title":"Created By Locale"},"id":{"type":"integer","format":"int32","description":"Created By ID","title":"Created By ID"},"login":{"type":"string","description":"Created By Email ID","title":"Created By Email ID"},"name":{"type":"string","description":"Created By Name","title":"Created By Name"},"company_name":{"type":"string","description":"Created By Company Name","title":"Created By Company Name"}},"description":"created_by"},"created_at":{"type":"string","description":"Created Date and Time","title":"Created Date and Time"},"updated_at":{"type":"string","description":"Coordination Issue Updated Date and Time","title":"Coordination Issue Updated Date and Time"},"viewpoints":{"type":"array","items":{"type":"object","properties":{"snapshot":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"ID of Viewpoint Snapshot","title":"ID of Viewpoint Snapshot"},"name":{"type":"string","description":"Name of Viewpoint Snapshot","title":"Name of Viewpoint Snapshot"},"content_type":{"type":"string","description":"Content Type of Viewpoint Snapshot","title":"Content Type of Viewpoint Snapshot"},"url":{"type":"string","description":"URL of Viewpoint Snapshot","title":"URL of Viewpoint Snapshot"}},"description":"snapshot"},"name":{"type":"string","description":"Viewpoint Name","title":"Viewpoint Name"},"camera_data":{"type":"object","properties":{"Type":{"type":"string","description":"Type of Viewpoint Camera Data","title":"Type of Viewpoint Camera Data"},"Scale":{"type":"integer","format":"int32","description":"Scale of ViewPoint Camera Data","title":"Scale of ViewPoint Camera Data"},"Up":{"type":"array","items":{"type":"integer","format":"int32"},"description":"Up"}},"description":"camera_data"},"redlines_data":{"type":"string","description":"Viewpoint redlines Data","title":"Viewpoint redlines Data"},"sections_data":{"type":"string","description":"Viewpoint Section Data","title":"Viewpoint Section Data"}}},"description":"viewpoints"},"attachments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Attachments ID","title":"Attachments ID"},"name":{"type":"string","description":"Attachment File Name","title":"Attachment File Name"},"content_type":{"type":"string","description":"Attachments Content Type","title":"Attachments Content Type"},"url":{"type":"string","description":"Attachment URL","title":"Attachment URL"}}},"description":"attachments"},"linked_procore_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Items ID","title":"Linked Items ID"},"coordination_issue_id":{"type":"integer","format":"int32","description":"Linked Items Coordination Issue ID","title":"Linked Items Coordination Issue ID"},"item_id":{"type":"integer","format":"int32","description":"Item ID of Linked Item","title":"Item ID of Linked Item"},"item_type":{"type":"string","description":"Item Type of Linked Item","title":"Item Type of Linked Item"},"item_url":{"type":"string","description":"Item URL of Linked Item","title":"Item URL of Linked Item"},"item_data":{"type":"object","properties":{"has_official_response":{"type":"boolean","description":"Has Official Response of Linked Items","title":"Has Official Response of Linked Items"},"subject":{"type":"string","description":"Subject of Linked Item","title":"Subject of Linked Item"},"number":{"type":"string","description":"Number of Linked Item","title":"Number of Linked Item"}},"description":"item_data"}}},"description":"linked_procore_items"},"linked_drawings":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Drawing ID","title":"Linked Drawing ID"},"title":{"type":"string","description":"Linked Drawing Title","title":"Linked Drawing Title"},"url":{"type":"string","description":"Linked Drawings URL","title":"Linked Drawings URL"}}},"description":"linked_drawings"},"linked_observation_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Linked Observation items ID","title":"Linked Observation items ID"},"number":{"type":"string","description":"Linked Observation items Number","title":"Linked Observation items Number"},"title":{"type":"string","description":"Linked Observation items Title","title":"Linked Observation items Title"},"url":{"type":"string","description":"Linked Observation items URL","title":"Linked Observation items URL"}}},"description":"linked_observation_items"},"drawing_markup_preview_images":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Drawing Markup Preview Images ID","title":"Drawings Preview Image ID"},"name":{"type":"string","description":"Drawing Markup Preview Images Name","title":"Drawings Preview Image Name"},"content_type":{"type":"string","description":"Drawing Markup Preview Images Content Type","title":"Drawing Content Type"},"url":{"type":"string","description":"url","title":"Drawings Preview Images URL"}}},"description":"drawing_markup_preview_images"},"updated_by":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Coordination Issue Updated By Person ID","title":"Coordination Issue Updated By Person ID"},"login":{"type":"string","description":"Coordination Issue Updated By Email","title":"Coordination Issue Updated By Email"},"name":{"type":"string","description":"Coordination Issue Updated By Person Name","title":"Coordination Issue Updated By Person Name"},"locale":{"type":"string","description":"Coordination Issue Updated By Locale","title":"Coordination Issue Updated By Locale"}},"description":"updated_by"}}},"description":"entities"},"errors":{"type":"array","items":{"type":"object","properties":{"uuid":{"type":"string","description":"Error UUID","title":"Error UUID"},"title":{"type":"string","description":"Error Title","title":"Error Title"},"description":{"type":"string","description":"Error Description","title":"Error Description"},"status":{"type":"string","description":"Error Status","title":"Error Status"},"creation_source":{"type":"string","description":"Creation Source","title":"Creation Source"},"location_id":{"type":"integer","format":"int32","description":"Location ID","title":"Location ID"},"assignee_id":{"type":"integer","format":"int32","description":"Assignee ID","title":"Assignee ID"},"coordination_issue_file_id":{"type":"integer","format":"int32","description":"Coordination Issue File ID","title":"Coordina
[...]
